@import "carousel.css";
@import "animation.css";
@import "project.css";
@import "header.css";


/* Section for each project */
section {
  height: 30vh;
  width: 80%;
  position: relative;
  display: flex;
  grid-area: center;
  justify-content: center;
  align-content: center;
  transition: var(--transition);
  transform-origin: center; /* Set the transform origin to the center */
}
/* Active state for section */
section.active {
  transform: translateX(0);
  transform-origin: center; /* Set the transform origin to the center */
}

/* JavaScript Classes */
/* Hidden elements */
.hidden {
  opacity: 0;
  display: none;
  transition: var(--transition); /* Transition opacity */
}
/* Show object */
.showObject {
  opacity: 1;
  animation: fadeIn 0.5s ease-in-out;
  display: flex;
  transition: var(--transition); /* Transition opacity */
  /* display: block; Remove display property */
}
/* On scroll, section will slightly expand */
.expand {
  margin: 0;
  transform: scale(0.95);
  transition: transform 0.3s ease-in-out;
}

