@import "templates/components/animation.css";
@import "typography.css";
@import "templates/header.css";
@import "templates/carousel.css";
@import "templates/components/contact.css";


/* Variables */
:root {
  /* Animations */
  --animation: all 0.75s ease-in-out;
  /* Transitions */
  --transition: all 0.75s ease-in-out;
}

html {
  overflow-y: scroll;
}

/* Body Stylings */
body {
  margin: 0;
  /* min-height: 100vh; */
  /* height: 0; */
  /* overflow-y: scroll; */
  /* overflow-x: clip; */
  touch-action: pan-y; /* Allow vertical scrolling */
  /* touch-action: none; */
}
main {
  /* overflow-y: scroll; */
  /* Removed above line because of double scroll-bar issue */
  overflow-x: hidden;
  touch-action: pan-y;
}

/* ::-webkit-scrollbar { width: 0 !important } */

.main {
  width : 100%;
  min-height: 100vh;
  position : relative;
  transition: transform 0.75s ease-in-out;
}
.wrapper {
  width : 100%;
  /* min-height: 100vh; */
  position : relative;
  transition: transform 0.75s ease-in-out;
}
.wrapper.expand {
  transform: scale(0.95);
  transition: transform 0.3s ease-in-out; /* Adjust duration and timing function as needed */
}

/* Common Stylings */
.ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#top {
  /* padding-top: 50px; */
}

@media screen and (max-width: 768px) {
  #top {
    /* padding-top: 120px; */
  }
  ::-webkit-scrollbar { width: 0 !important }
}
