@font-face {
    font-family: Everett;
    src: url("../type/everett.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: Everett;
  src: url("../type/everett-medium.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
/* Variables */
:root {
  /* Text Primary */
  --text-primary-size: 12px;
  --color-primary: rgba(0, 0, 0, 1);
  /* Text Secondary */
  --text-secondary-size: 11px;
  --color-secondary: rgba(107, 107, 107, 0.6);
  --color-secondary-hover: rgba(107, 107, 107, 1);
  /* Body Text */
  --body-text-size: 14px;
  --mobile-body-text-size: 12px;
  /* Animations */
  --animation: all 0.75s ease-in-out;
  /* Transitions */
  --transition: all 0.75s ease-in-out;
}

/* Body Stylings */
body {
  margin: 0;
  /* min-height: 100vh; */
  /* height: 0; */
  font-family: Everett, Helvetica, Arial, system-ui;
}
::-webkit-scrollbar { width: 0 !important }
main {
  width : 100%;
  min-height: 100vh;
  position : relative;
  transition: transform 0.75s ease-in-out;
}
.wrapper {
  width : 100%;
  min-height: 100vh;
  position : relative;
  transition: transform 0.75s ease-in-out;
}
.wrapper.expand {
  transform: scale(0.95);
  transition: transform 0.3s ease-in-out; /* Adjust duration and timing function as needed */
}

/* Default Page Stylings */
.pageTitle {
  text-transform: uppercase;
  font-weight: 300;
  padding-top: 5rem;
  font-size: 6rem;
}
.sectionTitle {
  text-transform: uppercase;
  font-weight: 300;
  padding-top: 5rem;
  font-size: 3rem;
}

.contact-container > navbar a {
  text-transform: uppercase;
  color: var(--color-secondary);
  text-decoration: none;
  font-size: 11px;
  transition: all 0.25s ease-in-out;
}

.contact-container > navbar a:hover {
  color: var(--color-primary);
}


/* Default Mobile Stylings */
@media screen and (max-width: 768px) {
  .pageTitle {
    text-transform: uppercase;
    font-weight: 300;
    padding-top: 5rem;
    font-size: 3.5rem;
  }
}
