/* Section for each project */
.section {
  height: 50vh;
  width: 90vw;
  position: relative;
  display: flex;
  justify-content: center;
  transition: var(--animation);
}

/* Main carousel */
.carousel {
  display: flex;
  margin-bottom: 1rem;
  overflow: hidden;
}

/* List holding all information and images */
.ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Individual list-item/image stylings */
.li {
  display: flex;
  width: fit-content;
  height: 100%;
  transition: all 1s ease-in-out;
}

/* Image properties */
.img {
  object-fit: cover;
  width: 100%;
  transition: var(--animation);
}

/* On click, section will expand to 100% width and increase in scale */
.active {
  width: 90vw;
  height: 100vh;
  transition: var(--animation);
}

/* On scroll, seciton will slightly expand */
.expand {
  transform: scale(1.05);
  margin: 1rem;
  transition: var(--animation);
}
/* Toggle class to hide */
.hidden {
  opacity: 0;
  display: none;
  transition: var(--animation);
}

/* Toggle class to show */
.showObject {
  opacity: 1;
  display: block;
  animation: fadeIn 1s ease-in-out;

}
