.header {

}

/* Styles for Top header */
.top-header {
  font-size: 0.8rem;
  position: fixed;
  top: 0;
  width: 100vw;
  margin: 2rem;
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
}

.navbar {
  position: fixed;
}

.sidebar {
  min-width: fit-content;
  position: sticky;
  display: flex;
  margin: 1rem;
  flex-direction: column;
}

.sidebar a {
  text-decoration: none;
  color: gray;
}

/* Top header links */
.top-header a {
  color: gray;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.top-header a:hover {
  color: black;
}

.logo {
  width: 100px;
  border: none;
}

.side {
  position: absolute;
  top: 0;
  left: 0;
}

.fit-content {
  width: fit-content;
  position: absolute;
}
