@import "carousel.css";
@import "header.css";

.aboutBody {
  color: var(--color-primary);
  font-size: var(--body-text-size);
}

.sectionImageTitle {
  font-size: var(--text-primary-size);
  color: var(--color-secondary);
  transition: var(--transition);
}
figure:hover > .sectionImageTitle {
  color: var(--color-primary);
}


