/* Define a transition duration during page visits */
html.is-changing .transition-slide {
  transition: transform 0.75s ease-in-out;
  transform: translateX(0%);
}
/* Define the styles for the unloaded pages */
html.is-animating .transition-slide {
  transform: translateX(100%);
}