/* Div to be animated */
.animation {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  color: white;
  z-index: 10;
  z-index: 4000;
}

/* Shrinking logo transformation */
.logo-shrink {
  position: fixed;
  transition: all 0.75s ease-in-out;
}

/* Shrinking black effect */
.wall {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  postion: absolute;
  background: #c2b98e;
}
@keyframes shrink {
  from {
    height: 100vh;
  }
  to {
    height: 0vh;
  }
}
