/* Main carousel */
.carousel {
  display: flex;
  width: fit-content;
  max-height: 100%;
  margin: 5rem 0rem;
  overflow:hidden;
}

/* List holding all information and images */
.ul {
  display: flex;
  margin: 0;
  padding: 0;
}

/* Individual list-item/image stylings */
.li {
  display: flex;
  justify-content: center;
  width: fit-content;
  height: 100%;
  background-color: white;
  transition: all 1s ease-in-out;
  flex-shrink:0;
}



