/* List holding all information and images */
.ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* Main carousel */
.carousel {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
  overflow: hidden;
}

/* Image properties */
.img {
  object-fit: cover;
  /* width: 0; */
  /* height: auto; */
  transition: var(--transition);
}
.img.active {
  /* width: 100%; */
}


@media screen and (max-width: 1366px) {
  .carousel {
  display: flex;
  width: 100%;
  margin-bottom: 0rem;
  overflow: visible;
  /* overflow-x: hidden; */
    transition: var(--transition);
  }

  .slide-left {
    transform: translateX(-300px);
    transition: var(--transition);
  }
}
