
.contact-container {
  width: 100%;
}

.address:before {
  content: "Navi Mumbai";
  position: absolute;
  left: 0;
  top: 0;

}

.footer-text {
  font-size: var(--text-secondary-size);
  color: var(--color-secondary);
  text-transform: uppercase;
  transition: var(--transition);
}

.footer-text:hover {
  color: var(--color-primary);
}
