
@include media-breakpoint-up(sm) {
  .nav-items {
    width: 100%;
  }
}
@include media-breakpoint-up(md) {
  .nav-items {
    width: 40%;
  }
  .input-group {
    width: 150px;
  }
}

i::before{
    background:transparent;
}

btn:hover {
  background: none;
}

.top-bar a {
  font-family: monospace;
  text-decoration: none;
  font-size: 0.80rem;
  font-weight: light;
  color: #6b6b6b;
  transition: all 0.5s ease-in-out;
}

.top-bar a:hover {
  color: black;
}

.input-group input {
  color: #6b6b6b;
}

.input-group input:focus {
  border: 0;
}

.nav-item {
  margin: 0 1rem;
}
