/* Topbar styles */
/* Link item stylings */
.top-bar a {
  color: var(--color-secondary);
  font-size: var(--text-primary-size);
  font-weight: light;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}
/* Link hovers */
.top-bar a:hover {
  color: var(--color-secondary-hover);
}
/* Search bar stylings */
/* Search bar form */
.input-group input {
  text-transform: uppercase;
  font-size: var(--text-primary-size);
  color: var(--color-secondary);
}
/* Search icon */
.input-group i {
  font-size: var(--text-primary-size);
  color: var(--color-secondary);
}
.input-group .form-control {
  width: fit-content;
}
