* {

}

.header {
  position: absolute;
  width: 100%;
  padding: 1rem;
  transition: all 1s ease-in-out;
  animation: loadIn 3s ease-in-out;
  background: none;
  color: black;
}

.header:before {
  content: ' ';
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: gray;
  /* background: black; */
}

@keyframes loadIn {
  0% {
    height: 100%;
    background: black;
    color: black;

  }
  100% {
    height: 0%;
    background: black;
    color: gray;
  }
}


.section {
  height: 75vh;
  width: 70vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: top;
  transition: all 1s ease-in-out;
  animation: fadeIn 1s ease-in-out;
  background: white;
}

.active {
  width: 100%;
  /* height: 100%; */
  transform: scale(1.2);
}

.card {
    height: 500px;
    width: 900px;
    border-radius: 5px;
}

.slider-container {
    min-width: 100%;
    min-height: 500px;
    position: absolute;
    align-self: center;
    overflow: hidden;
}
.inner-slider {
    min-width: 200%;
    display: flex;
    gap: 10px;
    pointer-events: none;
    position: absolute;
}

.img {
  object-fit: cover;
  width: 100%;
  height: 500px;
  transition: all 1s ease-in-out;
}

.hidden {
  opacity: 0;
  display: none;
  transition: all 1s ease-in-out;
}

.show {
  opacity: 1;
  display: block;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
