.section {
  height: 80vh;
  width: 70vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: top;
  animation: fadeIn 1s ease-in-out;
}

.card {
    height: 500px;
    min-width: 900px;
    border-radius: 5px;
}

.slider-container {
    width: 100%;
    min-height: 500px;
    position: absolute;
    align-self: center;
    overflow: hidden;
}
.inner-slider {
    width: 150%;
    display: flex;
    gap: 10px;
    pointer-events: none;
    position: absolute;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
