@import "carousel.css";
@import "project.css";
@import "header.css";


/* Section for each project */
section {
  height: 30vh;
  width: 80%;
  position: relative;
  display: flex;
  align-content: center;
  transition: var(--transition);
  transform-origin: center; /* Set the transform origin to the center */
}
/* Active state for section */
section.active {
  transform: translateX(0);
  transform-origin: center; /* Set the transform origin to the center */
}

/* JavaScript Classes */
/* Hidden elements */
.hidden {
  opacity: 0;
  /* display: none; */
  visibility: hidden;
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
/* Show object */
.showObject {
  opacity: 1;
  visibility: visible;
  height: auto;
  animation: fadeIn 0.75s ease-in-out;
  /* display: flex; */
  transition: var(--transition); /* Transition opacity */
  /* display: block; Remove display property */
}
/* On scroll, section will slightly expand */
/* .expand {
  margin: 0;
  transform: scale(0.95);
  transition: transform 0.3s ease-in-out;
} */

.active .project-img {
  /* height: auto; */
}

.project-img {
  min-width: 100%;
  max-height: 80vh;
  transition: var(--transition);
}


@media screen and (max-width: 1366px) {
  .project-info {
    height: 100%;
    flex-direction: column-reverse;
  }
  .tagContainer {
    /* height: 20%; */
    width: 100%;
    bottom: 0;
    position: relative;
  }
  .project-details {
    height: 100%;
    margin: 0rem 10px;
  }
  .cover-img {
    margin-bottom: 1rem;
  }
  .tags {
    /* display: none; */
  }
  .summary {
    font-size: var(--mobile-body-text-size);
    line-height: 1;
    height: 100%;
    min-width: 350px;
    max-width: 400px;
  }
  .hidden {
    opacity: 1;
    visibility: visible;
    height: 100%;
    display: flex;
  }
  img {
    max-width: 90vw;
    /* max-height: 310px; */
  }
  .project-img {
    height: 80%;
    object-fit: cover;
  }
  figcaption {
    /* max-height: 300px; */
  }
  section {
    height: 50vh;
    width: 100vw;
  }
  .project-title {
    margin-bottom: 4px;
  }
}

