@import "header.css";

/* Image */
.article-img {
  width: 500px;
}
article h2 {
  color: var(--color-primary);
  font-size: var(--text-primary-size);
}
.article-date {
  font-size: 10px;
  width: 200px;
}
.article-body {
  font-size: var(--body-text-size);
  color: var(--color-secondary);
}
