@import "header.css";

/* Image */
.article-img {
  max-width: 400px;
}
/* For larger screens */
@media only screen and (min-width: 1920px) {
 .article-img {
   max-width: 600px;
 }
}

article h2 {
  color: var(--color-primary);
  font-size: var(--body-text-size);
}
.article-date {
  font-size: var(--text-secondary-size);
  color: var(--color-secondary);
  width: 300px;
}
.article-body {
  font-size: var(--body-text-size);
  color: var(--color-secondary);
}
