@import "header.css";
/* List of People */
.people-list {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Person Stylings */
.person a {
  text-decoration: none;
}
/* Person tag stylings */
.people-tag {
  font-size: var(--text-secondary-size);
  color: var(--color-secondary);
  text-transform: uppercase;
}
/* Person Image stylings */
.img-anchor img {
  width: 70%;
  /* height: 100%; */
  opacity: 0;
  transition: all 0.35s ease-in-out;
}

/* Image hover stylings */
.person-anchor:hover + .img-anchor img {
  opacity: 1;
}
.person-img {
  right: 2.5%;
  top: 30%;
  position: fixed;
  /* background: red; */
}
/* Person's name */
.person-name {
  font-size: var(--text-primary-size);
  color: var(--color-primary);
  transition: all 0.25s ease-in-out;
}
/* On person element hover, name will scale up */
.person-anchor:hover .person-name {
  transform: scale(1.5);
  transform-origin: bottom left;
}
/* Styles for person description */
.person-body {
  font-size: var(--body-text-size);
  color: var(--color-primary);
}

@media screen and (max-width: 768px) {
  /* Person Stylings */
  .person a {
    text-decoration: none;
  }
  .person img {
    opacity: 1;
    position: relative;
  }
  .person-anchor:hover .person-name {
    transform: scale(1.0);
    transform-origin: bottom left;
  }
}
