@import "header.css";
.people-tag {
  font-size: var(--text-primary-size);
  color: var(--color-secondary);
  text-transform: uppercase;
}

.people-list {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.person {
  font-size: var(--text-primary-size);
  color: var(--color-primary);
  transition: all 0.25s ease-in-out;
}

.person:hover {
  transform: scale(1.5);
}

.person-body {
  font-size: var(--body-text-size);
  color: var(--color-primary);
}
