/* Projects Container */
.projects {
  /* Margin to offset the container from top navigation bar */
  margin-top: 5rem;
  padding: 0rem;
  transition: transform 0.3s ease-in-out;
}

/* Project Info */
/* Horizontal wrapper for tags, cover & summary */
.project-info {
  /* Flex properties */
  display: flex;
  flex-direction: row;
  /* Size */
  width: fit-content;
  height: 100%;
  margin: 0rem 1rem;
  /* Etc. */
  line-height: 1.1;
  animation: fadeIn 0.75s ease-in-out;
}

.project-title {
  font-size: var(--text-primary-size);
  text-transform: none;
  color: black;
}

.project-location {
  font-size: var(--text-secondary-size);
  color: gray;
  text-transform: uppercase;
}

/* Project Tags */
/* Tags Container */
.tags {
  list-style-type: none;
  margin-top: 1rem;
  padding: 0;
  font-size: var(--text-secondary-size);
  text-transform: uppercase;
}

.tagContainer {
  min-width: 300px;
  max-width: 500px;
}

/* Tag Container */
.tags li {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

/* Tag Heading */
.sub-heading {
  color: var(--color-secondary);
}

/* Tag Text */
.tag {
  color: var(--color-primary);
}

/* Project Icon */
.icon {
  width: 2.2rem;
  height: 2.2rem;
  margin-bottom: 0.75rem;
  background-color: black;
}

/* Project Text */
.summary {
  line-height: 19px;
  letter-spacing: 0.56px;
  font-size: 14px;
  min-width: 300px;
  max-width: 500px;
  font-weight: normal;
  font-size: var(--body-text-size);
  margin: 0 2rem;
}

/* Image styles */
/* Figure style to stop offset on expansion */
figure {
  margin: 0;
}

/* Width for Images */
.li>figure img {
  color: #212529;
  grid-area: auto;
  display: block;
}

