/* Projects Container */
.projects {
  padding: 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}


/* Project Stylings */
.project {
  margin: 0.45rem 0;
}

/* Project Info */
/* Horizontal wrapper for tags, cover & summary */
.project-info {
  /* Flex properties */
  display: contents;
  flex-direction: row;
  /* Size */
  /* width: min-content; */
  height: 100%;
  margin-left: 1rem;
  /* Etc. */
  /* animation: fadeIn 0.75s ease-in-out; */
}

/* Project Typography */
.project-title {
  font-size: var(--text-primary-size);
  text-transform: none;
  color: black;
}
.project-location {
  font-size: var(--text-secondary-size);
  color: gray;
  text-transform: uppercase;
  margin: 5px 0px;
}
/* Project Text */
.summary {
  /* line-height: 19px; */
  color: var(--color-primary);
  letter-spacing: 0.56px;
  min-width: 300px;
  max-width: 400px;
  /* width: fit-content; */
  /* max-width: fill-available; */
  font-weight: normal;
  font-size: var(--body-text-size);
  margin: 0 2rem;
}
/* Tag Heading */
.sub-heading {
  color: var(--color-secondary);
}
.tags {
  list-style-type: none;
  margin-top: 1rem;
  padding: 0;
  font-size: var(--text-secondary-size);
  text-transform: uppercase;
  color: var(--color-primary);
}

/* Project Tags */
/* Tags Container */
.tagContainer {
  width: 310px;
}
/* Tags Mobile Container */
.tagsMobile {
  margin: 0rem 2rem;
  min-width: 200px;
  max-width: 300px;
}
/* Tag Items */
.tags li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}


/* Project Icon */
.icon {
  width: 2.2rem;
  height: 2.2rem;
  margin-bottom: 0.75rem;
  background-color: black;
}

/* Image styles */
figure { /* Figure style to stop offset on expansion */
  position: relative;
  height: auto;
  margin: 0;
}
figure img { /* Image Width */
  flex: 2 1 auto;
  /* height: 100%; */
  object-fit: cover;
}
/* Image behaviour on active state */
.active .project-img {
  /* height: auto; */
}
.cover-img {  /* Cover Image (.project-info) */
  max-height: 100%;
}
.project-img { /* Gallery Images (.project-gallery) */
  /* min-width: 50%; */
  max-height: 80vh;
  transition: var(--transition);
}

/* Mobile Stylings */
@media screen and (max-width: 1366px) {
  /* General Stylings */
  .projects {
    margin-top: 0;
  }
  .project {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
  /* Reduce gap from project container to top */
  .project:nth-child(1) {
    margin-top: 1rem;
  }
  .project-info {
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }
  .project-details {
    height: 100%;
    margin: 0rem 10px;
  }

  /* Tags */
  .tagContainer {
    /* height: 20%; */
    width: 100%;
    bottom: 0;
    position: relative;
  }

  /* Image Stylings */
  figure {
    position: relative;
    height: 100%;
    margin: 0;
  }
  .cover-img {
    width: 90vw;
    height: 100%;
    object-fit: cover;
    margin-bottom: 1rem;
  }
  .project-img {
    height: 100%;
    object-fit: cover;
  }

  /* Project Mobile Typography */
  .project-title {
    /* margin-bottom: 4px; */
  }
  .project-location {
    margin: 0px 0px;
  }
  .summary {
    font-size: var(--mobile-body-text-size);
    contain: content;
    min-width: 300px;
    max-width: 600px;
    margin: 0rem;
  }
}

/* Larger Screens Stylings */
@media only screen and (min-width: 1600px) {
 /* fix center */
 .projects {
    align-items: end;
 }
}
